body {
    background-color: orangered;
}
.container {
    margin: 60px auto;
}
.row {
    height: 60px;
    margin: 20px 0;
}
.row > .col-md {
    margin: 0 10px;
    color: white;
    background-color: #fc9e9e;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}


